---
import { Image } from "astro:assets";
import CarouselPaño from "@/assets/carousel.png";
import CarouselPaño2 from "@/assets/carousel2.webp";
import CarouselPaño3 from "@/assets/carousel3.webp";

import PrimaryButton from "@/components/PrimaryButton.astro";
import Section from "../Section.astro";
---

<Section>
  <header
    aria-label="Contenedor de hero"
    class="flex flex-col items-center justify-center gap-5 text-center mt-20"
  >
    <h1 class="text-text1 text-3xl font-semibold animate-fade-up">
      Limpieza Industrial Sostenible
    </h1>
    <p
      class="max-w-[500px] text-center text-text2/80 animate-fade-up animate-delay-100"
    >
      Elaboramos, distribuimos y comercializamos paños reciclados de algodón
      para la limpieza industrial.
    </p>
    <PrimaryButton href="#" className="mt-6 animate-fade-up animate-delay-200"
      >Ver Catalogo</PrimaryButton
    >
  </header>
  <div
    aria-label="carousel"
    class="hidden sm:flex justify-between min-h-80 md:max-h-[10dvh] gap-3 md:gap-10 mt-10 [&>*]:rounded-[50px] animate-fade-up animate-delay-300"
  >
    <Image
      class="hidden lg:block self-start"
      src={CarouselPaño}
      alt="Imagen de trapos blancos"
      width="270"
      height="220"
    />
    <Image
      class="hidden sm:block self-end"
      src={CarouselPaño2}
      alt="Imagen de una pila de trapos blancos"
      width={220}
      height={190}
    />
    <Image
      class="hidden sm:block self-end"
      src={CarouselPaño3}
      alt="Imagen de trapos blancos en un campo de pasto"
      width={220}
      height={190}
    />
    <Image
      class="hidden lg:block self-start"
      src={CarouselPaño}
      alt="carousel"
      width="270"
      height="220"
    />
  </div>
  <Image
    class="block sm:hidden rounded-[50px] w-full aspect-video object-cover my-20 px-2"
    src={CarouselPaño}
    alt="carousel"
    width="270"
    height="220"
  />
</Section>
