---
import ProductCard from "@/components/productCard.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import HeaderProducts from "@/layouts/ProductsLayout.astro";
import FranelaImage from "@/assets/franela.webp";
import BlancoImage from "@/assets/blanco.webp";
import BlancoPrintImage from "@/assets/blanco-print.webp";
import MulticolorImage from "@/assets/multicolor.webp";
import MulticolorPrintImage from "@/assets/multicolor-print.webp";

const PRODUCTS = [
  {
    title: "Franela",
    description: "Paños reciclados de algodón para la limpieza industrial",
    src: FranelaImage,
  },
  {
    title: "Blanco",
    description: "Paños reciclados de algodón para la limpieza industrial",
    src: BlancoImage,
  },
  {
    title: "Blanco print",
    description: "Paños reciclados de algodón para la limpieza industrial",
    src: BlancoPrintImage,
  },
  {
    title: "Multicolor",
    description: "Paños reciclados de algodón para la limpieza industrial",
    src: MulticolorImage,
  },
  {
    title: "Multicolor print",
    description: "Paños reciclados de algodón para la limpieza industrial",
    src: MulticolorPrintImage,
  },
];
---

<Layout
  title="Productos - Econotrapos"
  description="Nuestro proceso de seleccion, entrega y reciclado de paños reciclados de algodón para la limpieza industrial."
>
  <HeaderProducts title="Todos los productos" />

  <div
    aria-label="breadcrumb"
    class="container mx-auto py-5 flex items-center gap-2 text-sm"
  >
    <a href="/" class="text-text2/70 hover:text-text2">Inicio</a>
    <span class="text-text2/90 text-xs">/</span>
    <span class="text-text2">Productos</span>
  </div>

  <Section>
    <div
      class="flex items-start justify-start gap-y-20 gap-x-2 lg:gap-x-20 py-10 flex-wrap animate-fade-up animate-delay-200"
    >
      {
        PRODUCTS.map((product) => (
          <ProductCard
            title={product.title}
            description={product.description}
            src={product.src}
          />
        ))
      }
    </div>
  </Section>
</Layout>
