---
import ProductCard from "@/components/productCard.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import HeaderProducts from "@/layouts/ProductsLayout.astro";
---

<Layout
  title="Productos - Econotrapos"
  description="Nuestro proceso de seleccion, entrega y reciclado de paños reciclados de algodón para la limpieza industrial."
>
  <HeaderProducts title="Todos los productos" />

  <div
    aria-label="breadcrumb"
    class="container mx-auto py-5 flex items-center gap-2 text-sm"
  >
    <a href="/" class="text-text2/70 hover:text-text2">Inicio</a>
    <span class="text-text2/90 text-xs">/</span>
    <span class="text-text2">Productos</span>
  </div>

  <Section>
    <div
      class="flex items-start justify-between gap-y-20 gap-x-1 py-10 flex-wrap"
    >
      <ProductCard />
      <ProductCard />
      <ProductCard />
      <ProductCard />
      <ProductCard />
      <ProductCard />
    </div>
  </Section>
</Layout>
