---
interface Props {
  src: string;
  alt: string;
}

const { src, alt } = Astro.props;
---

<div class="shadow-lg rounded-2xl overflow-hidden w-[270px] aspect-video">
  <img src={src} alt={alt} class="w-full h-full" loading="lazy" decoding="async"> 
</div>