---
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;

// @econo.trapos -> tiktok
---

<section class="mt-[6.5rem] text-center animate-fade">
  <div
    class="w-full bg-primary text-white flex items-center justify-center p-3"
  >
    <span class="text-sm"
      >Escríbenos al WhatsApp +569 77225664 para mayor información</span
    >
  </div>
  <div
    class="relative flex items-center justify-center gap-4 w-full p-28 bg-[url('/productsbanner.webp')] bg-cover bg-center"
  >
    <div
      class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-primary/10 to-black/80 opacity-30"
    >
    </div>
    <h1 class="text-3xl text-primary font-semibold z-20">{title}</h1>
    <p class="text-text2 text-center font-light z-20">{description}</p>
  </div>
  <!-- agregar grises -->
</section>
