---

---


<section>
  <div class="bg-primary text-white flex items-center justify-center p-2">
    <span class="text-sm">Escríbenos al WhatsApp +56988445552 para mayor información</span>
  </div>
</section>